@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.covalence-blue {
    color: #0091ea;
}
.h-nav{
    
    padding: 6px;
}

.nav-link{
    text-decoration: none;
    color:white;
    cursor:pointer;
}
.nav-link:hover{
    color:gray;
}